site_name: Architect Platform Documentation
site_description: Comprehensive documentation for the Architect Platform
site_author: Architect Platform Team
repo_url: https://github.com/architect-platform/architect
repo_name: architect-platform/architect

theme:
  name: material
  palette:
    primary: indigo
    accent: purple
  features:
    - navigation.tabs
    - navigation.sections
    - navigation.expand
    - navigation.indexes
    - navigation.top
    - search.suggest
    - search.highlight
    - content.code.copy
    - content.tabs.link

nav:
  - Home: index.md
  - Core Components:
      - Architect API: architect-api/index.md
      - Architect CLI: architect-cli/index.md
      - Architect Engine: architect-engine/index.md
      - Architect Cloud: architect-cloud/index.md
  - Official Plugins:
      - Docs Plugin: plugins/docs-architected/index.md
      - Git Plugin: plugins/git-architected/index.md
      - GitHub Plugin: plugins/github-architected/index.md
      - Gradle Plugin: plugins/gradle-architected/index.md
      - JavaScript Plugin: plugins/javascript-architected/index.md
      - Pipelines Plugin: plugins/pipelines-architected/index.md
      - Scripts Plugin: plugins/scripts-architected/index.md

markdown_extensions:
  - admonition
  - codehilite
  - pymdownx.superfences
  - pymdownx.tabbed:
      alternate_style: true
  - pymdownx.details
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
  - toc:
      permalink: true
  - attr_list
  - md_in_html

plugins:
  - search

extra:
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/architect-platform/architect
